GEMINI_API_KEY=AQ.Ab8RN6KSIBdw4eVnM1Q7CNkIfKs9SluPUnxkPHx65N2GMU-bfw
GROQ_API_KEY=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
OPENROUTER_API_KEY=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
BOT_NAME=aria
BOT_PREFIX=!
PORT=3000
